/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
.phpunit.result.cache
docker-compose.override.yml
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pnpm-debug.log
/.idea
/.vscode
/.php-cs-fixer.cache
.php-cs-fixer.php
/.fleet
/.DS_Store
Thumbs.db
/public/assets/advanced-data*/*
/public/assets/bootstrap-datetimepicker/*
/public/assets/bootstrap-daterangepicker/*
/public/assets/ckeditor/*
/public/assets/fancybox/*
/public/assets/flot/*
/public/assets/flot-chart/*
/public/assets/font-awesome/*
/public/assets/fullcalendar/*
/public/assets/gritter/*
/public/assets/jcrop/*
/public/assets/jquery-easy-pie-chart/*
/public/assets/jquery*/*
/public/assets/morris.js-0.4.3/*
/public/assets/select2/*
/public/assets/summernote/*
/public/js/*
/public/assets/bootstrap*/*
/public/assets/chart*/*
/public/assets/colorpicker/*
/public/assets/data*/*
/public/assets/file-uploader/*
/public/assets/fuelux/*
/public/assets/js/*
/public/assets/twitter*/*
/public/assets/xchart/*
/public/assets/toastr*/*
/public/assets/switchery/*
/public/assets/dropzone/*
/public/assets/nestable/*
/public/img/*